.section_4{
    padding: 0 117px;
    background-color: white;
    position: relative;
}

.section_4 img{
    width: 951px;
    height: 359px;
    position: absolute;
    bottom: 0;
    right: 117px;
}
.section_4 .s_wrap_2{
    justify-content: left;
}


.section_4 .img_box{
    background-image: url(../img/heeling_2.jpg);
}

.section_4 .img_box{
    width: 100%;
    height: 676px;
    border-radius: 50%;
    background-color: gray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 180%;
}

.section_4 .b_img{
    margin-right: 0;
    margin-left: 37px;
}

.section_4 .text_wrap_2{
    left: 0;
}

.section_4 .title_2{
    text-align: left;
}

.section_4 .text_2{
    text-align: left;
}
