
.section_5 .left:first-child{
    margin-top: 240px;
}

.t_img_5{
    background-image: url(../img/img_5.webp);
}

.t_img_6{
    background-image: url(../img/img_6.jpg);
}

.t_img_7{
    background-image: url(../img/img_7.jpg);
}

.t_img_8{
    background-image: url(../img/img_8.jpg);
}
