.section_2{
    margin-top: 150px;
}

.title_2{
    margin-bottom: 50px;
}

iframe{
    width: 100%;
    height: 500px;
}

.come_wrap_2{
    display: flex;
    justify-content: center;
    margin: 60px 0 60px 0;
}



.come_wrap_2 a li{
    font-size: 24px;
    font-weight: 600;
     display: flex;
    align-items: center;
}

.come_wrap_2 a li:after{
    content: "";
    height: 20px;
    width: 2px;
    background-color: gray;
    display: block;
    margin: 0px 30px;

}
.come_wrap_2 a:last-child li:after{
    display: none;
}

.come_wrap_2 a:nth-child(2) li{
    color: #E8802B;
}


.way{
    display: flex;
}

.sub_way{
    width: 80px;
    height: 30px;
    margin: 0 15px 10px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.sub_way_1{
background-image: url(../../img/subway_1.png);
}

.sub_way_2{
    background-image: url(../../img/subway_2.png);
}

.sub_way_3{
    background-image: url(../../img/subway_3.png);
}

.way p {
    font-size: 18px;
    color: #000;
    font-weight: 500;
}